@import url('https://fonts.googleapis.com/css?family=Arimo|Nunito:200|Source+Sans+Pro:300,400|Dosis:400,500');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    padding: 10px;
    background-color: rgba(233, 233, 233, 0.2);
}

.top__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid #a4a4a4;
}

.logo {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.header__title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Nunito', sans-serif;
}

.header__title-name {
    font-size: 25px;
    margin: 0;
}

.header__title-subtitle {
    font-size: 10px;
    margin: 0;
}

.main__image {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

/* .main__image-sub {
    display: none;
    width: 100%;
    height: auto;
    margin: 20px 0;
} */

.main__featured-works {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__work-title {
    font-size: 25px;
    font-weight: 600;
    color: #a4a4a4;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    margin: 30px 0 5px 0;
}

.main__featured-work {
    /* width: 33.33%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    text-decoration: none;
}

.main__featured-work:nth-child(3) {
    margin-right: 0;
}

.work__image {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.main__featured-work {
    font-family: 'Source Sans Pro', sans-serif;
    color: #474747;
}

.work-title {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0;
}

.work-url {
    font-size: 10px;
    margin-top: 6px;
}

.footer {
    background-color: rgb(55, 0, 255);
    margin-top: 160px;
    width: 100%;
    height: 125px;
    position: absolute;
    left: 0;
}

.footer__section {
    padding: 10px;
    padding-bottom: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
}

.footer__profile p {
    margin: 3px 0;
}

.footer__profile-name {
    font-size: 20px;
    font-weight: 500;
}
    
.footer__icons {
    display: flex;
    justify-content: space-between;
    font-size: 35px;
}

.footer__icons a {
    padding: 0 5px;
    margin-left: 3px;
    color: white;
}

@media screen and (min-width: 600px) {
    body {
        padding: 20px;
    }
    .logo {
        width: 50px;
        height: 50px;
    }
    .header__title-name {
        font-size: 30px;
    }
    .header__title-subtitle {
        font-size: 12px;
    }
    .main__images {
        display: flex;
        justify-content: space-between;
        max-height: 400px;
    }
    .work__image {
        width: 300px;
        height: 300px;
    }
    .footer__section {
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer__icons a {
        margin-left: 12px;
    }
}

@media screen and (min-width: 930px) {
    body {
        padding: 30px 100px;
    }
    .top__header {
        padding-bottom: 15px;
        border-bottom: 3px solid #a4a4a4;
    }
    .logo {
        width: 60px;
        height: 60px;
    }
    .header__title-name {
        font-size: 35px;
    }
    .header__title-subtitle {
        font-size: 15px;
    }
    .main__work-title {
        font-size: 35px;
    }
    .work__image {
        width: 220px;
        height: 220px;
    }
    .main__featured-works {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }
    .work-title {
        margin-top: 20px;
        font-size: 35px;
    }
    .work-url {
        font-size: 13px;
    }
} 